body {
    margin: 0 auto;
}

.main {
    width: 100%;
}

.navbar {
    height: 6%;
    background-color: #292421;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.marg {
    width: 81%;
    margin: 0 auto;
}

.mainheading {
    font-size: 16px;
}

.subheading {
    font-size: 14px;
    float: left;
}

.navbar a {
    color: grey;
    float: left;
    text-align: left;
    text-decoration: none;
    padding: 10px;
    margin-top: 3px;
}

.cont {
    width: 79%;
    margin: 0 auto;
    padding-top: 30px;
    color: #3f3f3f;
}

.heading {
    background-color: #E8E8E8;
    margin-top: 20px;
    width: 95%;
    padding: 3%;
}

.h1 {
    font-family: arial;
    width: 50%;
    background-color: #E8E8E8;
    border-radius: 4px;
    float: center;
    margin-left: 100px;
    font-size: 50px;
}

.para {
    width: 90%;
    padding: 50px;
    font-family: arial;
    color: #505050;
}

.head {
    font-size: 50px;
    width: 100%;
}

.line {
    opacity: 0.2;
    width: 100%;
    padding-top: 10px;
}

.line2 {
    opacity: 0.2;
    width: 100%;
}

.blog {
    font-size: 30px;
    font-family: arial;
}

.page {
    color: black;
    margin-bottom: 0px;
    width: 100%;
    text-align: left;
    font-family: arial;
}

.posted {
    font-size: 10px;
    padding: 2px;
    font-family: arial;
}

.lorem {
    width: 99%;
    font-size: 15px;
    padding-top: 20px;
    font-family: arial;
    line-height: 1.4;
    color: black;
}

.lorem2 {
    padding-top: 10px;
    width: 99%;
    font-size: 13px;
    font-family: arial;
    line-height: 1.4;
}

.superfish1 {
    background-color: #F0F0F0;
    padding-top: 30px;
    border-radius: 6px;
    border: 1px solid #E0E0E0;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 13px;
    padding-bottom: 10%;
    width: 90%;
    margin-bottom: 20px;
}

.example {
    display: inline;
    padding-left: 10px;
}

form.example input[type=text] {
    padding: 1.5px;
    font-size: 16px;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    float: left;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 13.5%;
    padding: 2px;
    background: white;
    color: black;
    font-size: 15px;
    border: 1px solid #E0E0E0;
    border-left: none;
    cursor: pointer;
}

.table {
    color: #0b7dda;
    font-size: 12px;
    padding-bottom: 15px;
}

.left {
    float: left;
    width: 65%;
    margin-bottom: 10px;
}

.right {
    width: 32%;
    float: right;
}

.superfish2 {
    background-color: #F0F0F0;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 13px;
    padding-bottom: 1%;
    width: 90%;
    margin-bottom: 10px;
    padding-top: 30px;
    border-radius: 6px;
    border: 1px solid #E0E0E0;
}

.table {
    color: #0b7dda;
    padding-bottom: 15px;
    font-size: 12px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td,
th {
    display: table-cell;
    vertical-align: inherit;
    font-family: arial;
}

.lorem3 {
    font-size: 12px;
    line-height: 16px;
    padding-right: 20px;
    padding-bottom: 18px;
    padding-left: 10px;
    font-family: arial;
}

.line3 {
    clear: both;
    padding-top: 1%;
    width: 100%;
    opacity: 0.2;
}

.footer {
    margin-top: 3%;
    margin-bottom: 5%;
}

.h6 {
    color: #545454;
    text-align: left;
    font-family: arial;
    font-size: 13px;
}